<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237539560843-o1lop7ftff1287kqmjmcjg81c8pkatfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237539560843-o1lop7ftff1287kqmjmcjg81c8pkatfm</string>
	<key>API_KEY</key>
	<string>AIzaSyAfLiRd2Dzmgg__vEM7QaIjYpQaRjWea6o</string>
	<key>GCM_SENDER_ID</key>
	<string>237539560843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.stanford.personal.project.by.meng.Firebase101</string>
	<key>PROJECT_ID</key>
	<string>fir-101-12d22</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-101-12d22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237539560843:ios:62d33f631101d76ee0738e</string>
</dict>
</plist>